<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bucketlist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity android:name=".fragments.homePageFragment.SearchActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".BookmarkPage" />
        <activity android:name=".SeemorePosts" />
        <activity android:name=".PostInnerPage" />
        <activity android:name=".AddNewPost" />
        <activity android:name=".AddNewCity" />
        <activity android:name=".ContactEntyLogin" />
        <activity android:name=".OtpActivityLogin" />
        <activity android:name=".SeeMoreCities" />
        <activity android:name=".CityInnerPage" />
        <activity android:name=".layout.userLayout.EditProfileActivity" />
        <activity android:name=".layout.userLayout.DetailProfile" />
        <activity android:name=".myPost" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".layout.userLayout.UserDetail" />
        <activity android:name=".layout.loginLayouts.OtpActivityRegister" />
        <activity android:name=".layout.userLayout.ContactEntry" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".layout.openingScreen.Third_Content"
            android:parentActivityName=".layout.openingScreen.SecondContent" />
        <activity
            android:name=".layout.openingScreen.First_content"
            android:parentActivityName=".layout.openingScreen.GetStartedActivity" />
        <activity
            android:name=".layout.openingScreen.SecondContent"
            android:parentActivityName=".layout.openingScreen.First_content" />
        <activity
            android:name=".layout.loginLayouts.LoginByEmailActivity"
            android:parentActivityName=".layout.openingScreen.Third_Content" />
        <activity
            android:name=".layout.loginLayouts.SignupActivity"
            android:parentActivityName=".layout.openingScreen.Third_Content" />
        <activity android:name=".layout.openingScreen.GetStartedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>